.imageContainer {
  position: relative;
  width: 100%;
  height: 119px;
}

.backPicture,
.backPictureWeb {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.backPicture {
  display: none;
}

.backPictureWeb {
  display: block;
  height: 344px;
  width: 1440px;
}

@media (max-width: 760px) {
  .imageContainer {
    height: 119px;
  }

  .backPicture {
    display: block;
  }

  .backPictureWeb {
    display: none;
  }
}

.mainTitle {
  font-size: 16px;
  display: flex;
  margin: 20px auto 0 auto;
  margin-right: 29px;
  font-family: "Yekan";
  width: 600px;
}

.mainTitle span {
  color: rgba(40, 167, 69, 1);
  margin-left: 9px;
}

.mainTitle p {
  color: rgba(89, 89, 89, 1);
}
@media (min-width: 999px) {
  .backPictureWeb {
    display: block;
    object-fit: fill;
  }
  .imageContainer {
    height: 350px;
    width: 100%;
  }
  .mainTitle {
    font-size: 28px;
    margin:  29px auto;
    font-weight: 400;
  }
}
