
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  margin-top: 40px;
  width: 100%;
 font-family: "Yekan";


}


.sidebox {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;

  width: 280px;
  display: flex;
color: rgba(40, 40, 40, 1);
font-family: "Yekan";
 
  flex-direction: column;
  margin-right: 50px ;
  
  overflow: hidden;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #444;
  font-size: 14px;
  padding: 20px;
  width: 100%;
  text-decoration: none;
  transition: all 0.3s;
font-family: "Yekan";
  cursor: pointer;
}

.menuItem:hover {
  background-color: rgba(40, 167, 69, 0.25);
  color: rgba(40, 167, 69, 1);
}

.activeItem {
  background-color:rgba(40, 167, 69, 0.25);
  color: rgba(40, 167, 69, 1);
}

.menuItem img {
  width: 20px;
  height: 20px;
}

.menuItem span {
  font-weight: 500;
  font-weight: "Yekan";
}



.mainArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  
}

.content {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  min-height: 400px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

/* نوربار موبایل */
.mobileLinks {
  display: none;
}

.mobileLinks ul {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  margin: 0;
  list-style: none;
}

.mobileLinks li {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #777;
  font-size: 12px;
  transition: 0.3s;
}

.mobileLinks li img {
  width: 22px;
  height: 22px;
  margin-bottom: 4px;
}

.mobileLinks li.activeLink {
  color: #009e60;
}

.mobileLinks li.activeLink img {
  filter: brightness(0) saturate(100%) invert(47%) sepia(80%) saturate(3580%) hue-rotate(168deg) brightness(97%) contrast(101%);
}

/* 📱 حالت موبایل */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }

  .sidebox {
    display: none;
  }

  .mobileLinks {
    display: block;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    margin-bottom: 10px;
  }
}
