html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Yekan";
  src: url("../../public/Fonts/Yekan/BYekan.ttf") format("woff2");
  font-weight: 600;
  font-weight: 300;
  font-weight: 400;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Vaziran";
  src: url("../../public/Fonts/Vaziran/Vazirmatn-Medium.ttf") format("woff2");
  font-weight: 600;
  font-weight: 300;
  font-weight: 400;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "iranSans";
  src: url("../../public/Fonts/A-Iranian-Sans/irsans.ttf") format("woff2");
  font-weight: 600;
  font-weight: 300;
  font-weight: 400;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
