.container {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: "Vaziran";
}

.divDetails {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.picturTour {
  width: 400px;
  height: 265px;
  border-radius: 10px;
  flex-shrink: 0;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  flex: 1;
}

.titleDayRow {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  font-family: "Yekan";
}

.day {
  font-size: 20px;
  font-weight: 400;
  font-family: "Vaziran";
  color: #444;
}

.tourOption {
  display: flex;
  gap: 40px;
  color: #7d7d7d;
  font-size: 16px;
}

.tourOption span {
  display: flex;
  align-items: center;
  gap: 8px;
}

.priceRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
.price {
  font-family: "Vaziran";
}
.numberPrice {
  font-size: 28px;
  color: #009eca;
  font-family: "Vaziran";
  font-weight: 500;
}
.toman {
  font-size: 14px;
  color: rgba(40, 40, 40, 0.8);
  font-family: "Vaziran";
  font-weight: 600;
}
.price span {
  font-weight: 500;
}

.buyButton {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.buyButton:hover {
  background-color: #12632d;
}

.tourProperty {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.propertyItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 120px;
  gap: 12px;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}

.propertyItem > div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.propertyItem img {
  width: 22px;
  height: 22px;
  object-fit: contain;
  opacity: 0.8;
}

.propertyLabel {
  font-weight: 400;
  color: rgba(68, 68, 68, 1);
  font-size: 18px;
  font-family: "Vaziran";
}

.propertyValue {
  color: #000;
  font-weight: 500;
}

@media (max-width: 768px) {
  .container {
    margin: 10px auto;
  }

  .divDetails {
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin-top: 0px;
  }

  .picturTour {
    width: 100%;
    height: auto;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .titleDayRow {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
  }

  .title {
    font-size: 20px;
    font-weight: 700;
  }

  .day {
    font-size: 16px;
    color: #444;
    margin: 0;
  }

  .tourOption {
    width: 100%;
    margin-top: 8px;
    gap: 15px;
    font-size: 12px;
  }

  .priceRow {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 12px;
    margin-top: 12px;
  }

  .buyButton {
    width: 154px;
    height: 42px;
  }

  .price {
    flex: 1;
    text-align: left;
  }

  .tourProperty {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 12px;
  }

  .propertyItem {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .propertyLabel {
    font-size: 14px;
  }

  .propertyValue {
    font-size: 14px;
  }
.tourProperty .propertyItem {
    display: none;
}


.tourProperty .propertyItem:nth-last-child(3),
.tourProperty .propertyItem:nth-last-child(2),
.tourProperty .propertyItem:nth-last-child(1) {
    display: flex;
    flex-direction: column; 
    align-items: center;   
}

}

@media (min-width: 992px) {
  .divDetails {
    flex-wrap: nowrap;
  }

  .tourProperty {
    flex-wrap: nowrap;
  }

  .titleDayRow {
    flex-direction: column;
    gap: 5px;
  }

  .title {
    font-size: 32px;
  }

  .day {
    font-size: 20px;
  }
}
