.modalContent {
  font-family: "Yekan", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 10px;
  box-sizing: border-box;
}

.titrModal {
  font-size: 22px;
  font-weight: 600;
  margin-top: -10px;
  margin-bottom: 10px;
}

.lableModal {
  font-size: 14px;
  color: #000;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 15px;
}

.inputModal {
  width: 90%;
  max-width: 300px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.submitButton {
  background-color: rgba(40, 167, 69, 1);
  color: white;
  border: none;
  padding: 12px 0;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  width: 90%;
  max-width: 300px;
  font-family: "Yekan", sans-serif;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.submitButton:hover {
  background-color: #218838;
}

.otpInput {
  border: 1px solid silver;
  border-radius: 6px;
  width: 45px !important;
  height: 45px;
  margin: 4px;
  text-align: center;
  font-size: 18px;
  transition: all 0.3s ease;
}

.toast {
  font-family: "Yekan", sans-serif;
  direction: rtl;
  background: #a32d2d;
  color: #fff;
  border-radius: 10px;
  padding: 10px 16px;
  box-shadow: 0 3px 10px rgba(248, 22, 22, 0.15);
  text-align: center;
}

@media (min-width: 900px) {
  .modalContent {
    max-width: 500px;
    padding: 30px 0;
  }

  .titrModal {
    font-size: 26px;
    margin-top: -27px;
  }

  .lableModal {
    font-size: 16px;
    margin-top: 20px;
  }

  .inputModal {
    max-width: 380px;
    padding: 16px;
    font-size: 18px;
  }

  .submitButton {
    max-width: 380px;
    height: 58px;
    font-size: 18px;
    padding: 16px 0;
    margin-top: 20px;
  }

  .otpInput {
    width: 60px !important;
    height: 60px !important;
    font-size: 22px !important;
  }
}
